body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  h2 {
    color: #333;
  }
  form {
    max-width: 300px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
  }
  label {
    margin-bottom: .5em;
    color: #333;
    display: block;
  }
  input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: .5em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.7em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  p {
    text-align: center;
    color: #666;
  }
